*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #E3CAA5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*************NAV*****************/
nav {
  margin-right: -35px;
  
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;

}

nav > ul {
  display: flex;
  margin: 1.4rem;
  background: rgba(68, 84, 91, 0.6);
  padding: 0 10px 0 10px;
  box-shadow:  0px 5px 10px;
  border-radius: 20px;
}

nav > ul a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  padding: 20px 30px ;
   margin: 0 20px; 
  color: white;
  letter-spacing: .2rem;
}
/****************HEADER********************/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background:#CEAB93;
  box-shadow: 0px 5px 10px;
  margin-top: 0;
}
header a{
  font-size: 2rem;
  text-decoration: none;
}
.headerLeft a{
margin: 40px;
}
ion-icon{
  color: #FFFBE9;
  margin: 0 30px;
}


/**************About-ME*******************/

.My-Goals{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.MyGoalLeft{
  background: #AD8B73;
  border-radius: 10px;
  margin: 50px 20px;
  padding: 10px;
  box-shadow: 0px 0px 5px 10px #FFFBE9;
  flex-basis: 300px;

}
.MyGoalLeft{
flex-basis: 950px;
}

.MyGoalLeft{
  flex-shrink: 2;
}
.MyGoalLeft h1{
  font-size: 3rem;
  padding: 60px;
  color: #FFFBE9;
}

.MyGoalLeft li{
  font-size: 2rem;
  padding: 20px 60px;
  list-style-type: none;
  font-style: oblique;
  padding-bottom: 60px;
  color: #FFFBE9;
}
.About-me2 img{
  box-shadow: 0px 0px 5px 10px #FFFBE9;
  border-radius: 10px;

}